.vscode/**
src/**
tests/**
node_modules/**
.agents/**
.github/**
.gitignore
*.map
tsconfig.json
tsup.config.ts
vitest.config.ts
eslint.config.js
cartridge_index.json
.cartridge
.cartridge/**
.trunk
.trunk/**
tmp.js
.gitnexus/**
.claude/**
test.ts
